:root {
    --hover_background_blue: #173f5f;
    --normal_background_blue: #20639b;
}
.fixedposition {
    position: static;
    background-color: #5f1717;
}
.invisible {
    z-index:-999;
   opacity: 0;
   background-image: url(cat\ bowtie.png);
}

body {
    overflow-x: hidden;
    font-family: "Roboto Mono", sans-serif;
}
#curtain {
    background-color: black;
    width: 100vh;
    height: 100vh;

}
.totalcounter {
    font-size: x-small;
    color: white;
    font-style: italic;
}
.configdivbutton {
    
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
}
#configdiv{
    position: relative;
    
    left: 505px;
    height: 200px;
    padding: 10px;
    z-index: 99;
    width: 30vw;
    background-color: #173f5f;
    background-color: var(--hover_background_blue);
    margin-bottom: 360px;
}
#configmenunotdiv {
    
    position: relative;
    
    left: 505px;
    height: 200px;
    padding: 10px;
    z-index: 99;
    width: 30vw;
    background-color: var(--normal_background_blue);
    margin-bottom: 360px;
    bottom: 365px;
    
    
    

}
#grit {

    position: absolute;
    top: 1000px;
    left: 175px;
    width: 50%;
    height: 300px;
    
}
#extraupgrades {
    position: absolute;
    display: flex;
    left: 513px;
    justify-items: center;
    width: 31vw;
    
    top: 0px;
    border-right: 3px solid black;
    border-top: 3px solid black;
    overflow-y: scroll;
    height: 100%;
    background: #ffffff;
}
.fixmovextra {
    position: absolute;
    top: 0px;

}
@keyframes upanimation {
    from {
        transform: translateY(0px);
        background-color: var(--normal_background_blue);
    }
    to {
        transform: translateY(5px);
        background-color: var(--hover_background_blue);
        
    }
}

@keyframes srhinkdown {
    from {
        width: 230px;
        height: 230px;
    }
    to {
        width: 100px;
        height: 100px;
    }
}
.nooverflow {
    white-space: nowrap;
}
.smallfont {
   position: relative;
    top: 25px;
    left: 110px;
    width: 200px;
    font-size: small !important; 
}
.bigfont {
    font-size: x-large;
    width: 200px;
    
}
#counter {
    position: fixed;
    top: 25px;
    left: 150px;
    white-space: nowrap;
    font-size: x-large;
}
#catcontainer {
    position: fixed;
    display: flex;
    
    top: 0px;
    bottom: 40px;
    width: 500px;
    height: 100vw;
    align-items: 700px;
    justify-content: center;
    align-items: start;
    border: 3px solid black;
}
#autoclick {
    cursor: pointer;
}

#cwab {
    position: relative;
    top: 60px;
    margin: 50px;
    border-radius: 10em;
    border: 3px solid black;
    width: 230px;
    animation: srhingdown 0.4s linear 0s 1 forwards;
    height: 230px;
    cursor: pointer;
}
#autoclickdesc {
    font-size: small;
}
#buystuff {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: start;
    right: 0px;
    font-weight: bold;
    top: 0px;
    width: 40vw;
    background-color: rgb(255, 41, 41);
    
}
#buystuff > * {
    z-index: 999;
}
@media  only screen and (max-width:1768px) and (min-width:671px) {
    #buystuff {
        position: relative !important;
        width: 60vw;
        left: 850px;
        overflow-x: auto;

    }
    #extraupgrades {
        position: absolute !important;
        width: 333.15px !important;
    }
    #configdiv {
        position: absolute !important;
        top: 0px;
        width: 322.15px !important;
    }
    #configmenunotdiv{
        position: absolute !important;
        top: 220px !important;
        width: 322.15px !important;
    }
    #catcontainer {
        position: absolute;
    }
    body {
        overflow-x: auto;
    }
    #counter {
        position: absolute;
        left: 50px;
    }
    
}

@media only screen and (max-width:670px) and (max-height:1004px) {
    #buystuff {
        position: absolute !important;
        display: flex !important;
        flex-direction: row;
        gap: 40px !important;
        right: 0px; /* idk but yesa*/
        resize: none;
        z-index: 9999;
        margin-top: 40px;
        margin-bottom: 50px;
        top: 800px;
        overflow-x: scroll;
        height: 200px !important;
        max-height: 340px;
        width: 100vw !important;
        
        background-color: #173f5f !important;
    }
    #cwab {
        position: relative !important;
        height: 200px !important;
        width: 200px !important;
    }

    #catcontainer {
        position: absolute !important;
        display: flex;
        overflow: hidden;
        justify-content: center;
        gap: 0px    ;
        align-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
        top: 50px;
        left: 0px;
        right: 0px;
        height: 500px;
        max-height: 500px;
        min-height: 300px;
        width: 100vw !important;
        
    }
    #extraupgrades {
        position: absolute;
        display: flex;
        justify-content: center !important;
        flex-direction: column !important;
        margin-top: 40px !important;
        top: 1004px !important;
        width: 100vw !important;
        height: 900px !important;
        left: 0px !important;
        background-color: red;
    }
    #gritigle {
        width: 95px;
        height: 65px;
    }
    #configdiv {
        position: absolute !important;
        left: 0px;
        height: 250px;
        top: 540px;
        width: 100vw !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    #configmenunotdiv{
        position: fixed !important;
        left: 20vw;
        height: 500px;
        top: 100px;
        border-radius: 15px;
        z-index: 9999999;
        width: 60vw !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }
   #counter {
        position: absolute;
        left: 50px;
   }
   
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
#buypower {

    cursor: pointer;
}
